/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */

#header-wrapper,
#header-wrapper.with-header-region  {
  padding: 20px 0 0;
}

#menu-wrapper {
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  clear: both;
  float: none;
  margin: 0;
  padding: 0;
}

.hl-l #branding {
  margin: 15px 20px 0 0;
}
.hl-c #branding {
  margin: 15px 0 0 0;
}
.hl-r #branding {
  margin: 15px 0 0 20px;
}

.hl-l #menu-wrapper,
.hl-c #menu-wrapper,
.hl-r #menu-wrapper {
  margin: 15px 0 0;
}

.group-left {
  float: left;
  width: 50%;
}

#block-views-nodequeue-2-block .ds-2col .group-left {
  width: 33.333%;
}

.group-right {
  float: left;
}

#block-views-nodequeue-2-block .ds-2col .group-right {
  width: 66.666%;
}

